#btn1:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#btn1 {
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
